nav
  ul.navbar
    li.navitem
      a.navlink(href='/') Home
    li.navitem
      a.navlink(href='/api/movies') List of movies
    li.navitem
      a.navlink(href='/api/movies/createMovie') Create a movie
    
          