nav
  ul.navbar
    li.navitem
      a.navlink(href='/') Accueil
    li.navitem
      a.navlink(href='/api/movies') /movies
    li.navitem
      a.navlink(href='/api/movies/createMovie') /movies/create
    li.navitem
      a.navlink(href='#') /movies/read
    li.navitem
      a.navlink(href='#') /movies/update
    li.navitem
      a.navlink(href='#') /movies/delete
          