extends layout

block content
  h1 Afficher la liste des films
  p C'est le contenu de la liste des films.
  p Nombre de films :  #{allMovies.length}
  //- const allMovies : IMovie[]
  div
    each movie in allMovies
      div.movie(id=movie._id)
        input(type="checkbox")
        a(href="/api/movies/detailMovie/" + movie._id)
          img.fit-div(src=movie.image, alt="Description de l'image")
        h4.center-div #{movie.title}
        i.fa.fa-trash

    //- Capter le Event click sur un icône.
    script.

      var lstIcons = document.querySelectorAll('i');    

      lstIcons.forEach((icon) => {
        icon.addEventListener('click', function() {
          let resultat = window.confirm("Are you sure to delete?");
          if (resultat === false) {
              console.log("L'utilisateur a annulé.");
          } else {
              const idMovie = this.parentNode.id;
              fetch("/api/movies/deleteMovie/" + idMovie, {
                  method: 'DELETE'
              })
              .then(response => {
                  if (response.status === 204) {
                      // Le film a été supprimé avec succès (204 signifie No Content)
                      console.log("Film supprimé avec succès.");
                      this.parentNode.remove();
                  } else {
                      // Gérer les erreurs ici
                      console.error("Erreur lors de la suppression du film.");
                  }
              })
              .catch(error => {
                  console.error("Une erreur réseau s'est produite.", error);
              });
          }
        });
      })
 
      // ***
      //-  Capter le message click sur le checkbox.
      // ***
      var checkboxes = document.querySelectorAll('input[type="checkbox"]');
      for (var checkbox of checkboxes)
      {
        checkbox.addEventListener('click', (event) =>
        {
          var found = false;

          // On récupère le checkbox qui est cliqué
          var checkBoxClick = event.target;
          // J'aimerais chercher tous les siblings.
          var nextSibling = checkBoxClick.nextElementSibling;
          // Je veux parcourir tous les siblings et je veux trouver élément <icon>

          while((nextSibling) && (!found)) {
            // Je veux chercher icone et j'ai trouvé.
            if (nextSibling.tagName.toUpperCase() === "I") {
              if (event.target.checked) {
                nextSibling.style.display = 'block';
                found = true;
              }
              else {
                nextSibling.style.display = 'none';
              }
            }
            nextSibling = nextSibling.nextElementSibling;
          }
        });
     }

  //- Script qui traite event onclick sur le div.
  //- script.
  //-   function divClick(elemDiv) {
  //-      // Phase de "bubbling" (remontée)
  //-     elemDiv.addEventListener('click', function() {
  //-       // Rediriger vers une nouvelle URL
  //-       const idMovie = elemDiv.id;
  //-       window.location.href = "http://localhost:3020/api/movies/detailMovie/" + idMovie;
        

  //-       //console.log("Clic sur le bouton");
  //-     });

    };


      //- /////////////////////////////////////////////////////////////////////////////////
      //- // TODO : Comprendre le code après.
      //- // Exemple avec l'API Fetch pour une redirection avec une méthode HTTP spécifique
      //- fetch("api/movies/detailMovie", {
      //-   method: "POST", // Utilisez la méthode HTTP souhaitée (GET, POST, PUT, DELETE, etc.)
      //-   ////////////////////////////////////////////////////////////////////////////////
      //-   // On peut envoyer les donnés au serveur.
      //-   ////////////////////////////////////////////////////////////////////////////////
      //- })
      //- .then(response => {
      //-   // Traitez la réponse si nécessaire
      //-   // Ensuite, effectuez la redirection
      //-   window.location.href = response.url;
      //- })
      //- .catch(error => {
      //-   console.error("Erreur lors de la requête :", error);
      //- });
